@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(241, 241, 242);
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(45, 49, 49)
    )
    rgb(19, 20, 20);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
